* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.02em;

  background-color: #fff;
}

/**********************/
/* HEADER */
/**********************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 92px;
  padding: 16px 220px;
}

.logo {
  width: 191px;
  height: 34px;
}

/**********************/
/* NAVIGATION */
/**********************/
.menu {
  display: flex;
  align-items: center;
  gap: 75px;
  height: 60px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.main-nav-link {
  text-decoration: none;
  align-items: center;
  color: #4f9cf9;
}

.main-nav-link:hover,
.main-nav-link:active {
  font-weight: 500;
}

.chevron {
  transform: translate(+30%, -100%);
  width: 9px;
  height: 4px;
}

/**********************/
/* NAVIGATION BUTTONS*/
/**********************/

.btn-block {
  display: flex;
  gap: 24px;
  text-align: center;
  justify-content: center;
}

.btn-login {
  padding: 18.5px 40px;
  background-color: #ffe492;
  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #043873;
}

.btn {
  padding: 18.5px 24px;
  background-color: #4f9cf9;
  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.btn-login:hover,
.btn-login:active,
.btn:hover,
.btn:active {
  cursor: pointer;
  /* box-shadow: ; */
  transform: translateY(-3px);
}

.arrow {
  margin-left: 10px;
}

/**********************/
/* HERO SECTION */
/**********************/

.hero {
  height: 830px;
  position: relative;
}

.hero-img {
  opacity: 0.3;
  margin: 192px 0 90px 0;
  z-index: 0;
  order: 1;
}

.hero-block {
  position: absolute;
  display: flex;
  top: 140px;
  bottom: 140px;
  left: 220px;
  right: 220px;
  z-index: 1;

  width: 1480px;
  height: 549px;
  order: 0;
}

.hero-heading {
  margin: 94px 0;
}

.heading {
  font-size: 64px;
  font-weight: 700;
  color: #4f9cf9;
  line-height: 77px;
  align-self: stretch;
  margin-bottom: 24px;
}

.hero-text {
  color: #4f9cf9;
  margin-bottom: 60px;
}
