* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;

  background-color: #fff;
}

/**********************/
/* REUSABLE */
/**********************/

.pad {
  padding: 140px 220px;
}

/**********************/
/* HEADER */
/**********************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 92px;
  padding: 16px 220px;
}

.logo {
  width: 191px;
  height: 34px;
}

/**********************/
/* NAVIGATION */
/**********************/
.menu {
  display: flex;
  align-items: center;
  gap: 75px;
  height: 60px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.main-nav-link {
  text-decoration: none;
  align-items: center;
  color: #4f9cf9;
}

.main-nav-link:hover,
.main-nav-link:active {
  font-weight: 500;
}

.chevron {
  transform: translate(+30%, -100%);
  width: 9px;
  height: 4px;
}

/**********************/
/* NAVIGATION BUTTONS*/
/**********************/

.btn-block {
  display: flex;
  gap: 24px;
  text-align: center;
  justify-content: center;
}

.btn-login {
  padding: 18.5px 40px;
  background-color: #ffe492;
  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #043873;
}

.btn {
  padding: 18.5px 24px;
  background-color: #4f9cf9;
  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.btn-login:hover,
.btn-login:active,
.btn:hover,
.btn:active {
  cursor: pointer;
  /* box-shadow: ; */
  transform: translateY(-3px);
}

.arrow {
  margin-left: 10px;
}

/**********************/
/* HERO SECTION */
/**********************/

.hero {
  height: 830px;
  position: relative;
}

.hero-img {
  opacity: 0.3;
  margin: 192px 0 90px 0;
  z-index: 0;
  order: 1;
}

.hero-block {
  position: absolute;
  display: flex;
  top: 140px;
  bottom: 140px;
  left: 220px;
  right: 220px;
  z-index: 1;

  width: 1480px;
  height: 549px;
  order: 0;
}

.hero-heading {
  margin: 94px 0;
}

.heading {
  font-size: 64px;
  font-weight: 700;
  color: #4f9cf9;
  line-height: 77px;
  align-self: stretch;
  margin-bottom: 24px;
}

.hero-text {
  color: #4f9cf9;
  margin-bottom: 60px;
}

/**********************/
/* WORK-MANAGEMENT SECTION */
/**********************/

.work-management {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.proj-img {
  position: absolute;
  z-index: 0;
  mix-blend-mode: multiply;
  opacity: 0.2;
  left: 0%;
  right: 85%;
  top: 16.5%;
  bottom: 23%;
}

.content0-block {
  display: flex;
  z-index: 1;
}

.content0 {
  margin: 68px 60px 68px 0;
}

.headline {
  position: relative;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  color: #212529;
  margin-bottom: 24px;
}

.yellow-underline {
  position: absolute;
  z-index: -1;
  left: 0%;
  right: -1%;
  top: 66%;
  transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.text {
  color: #212529;
  margin-bottom: 60px;
}

.work-content {
  display: flex;
  gap: 100px;
  z-index: 1;
}

.content1 {
  margin: 183.5px 0;
  position: relative;
}

.yellow-underline1 {
  position: absolute;
  z-index: -1;
  left: 33%;
  right: 24.27%;
  top: 66%;
  bottom: 50%;
}

/**********************/
/* CUSTOMISE SECTION */
/**********************/
.customise {
  display: flex;
}

.customise-heading {
  margin: 49px 98px 49px 0;
  position: relative;
}

.yellow-underline2 {
  position: absolute;
  z-index: -1;
  left: 24%;
  right: 37%;
  top: 82.5%;
  bottom: 20%;
}
